:root {
    --primary-gradient-start: #ce9135;
    --primary-gradient-end: #ff8a79;
    --white-color: #fff;
    --dark-color: #0a0208;
    --button-bg-color: #ffd900;
    --light-gray-color: #d4d4d4;
    --medium-gray-color: #999999;
    --dark-gray-color: #666666;
    --error-color: red;

    --font-oxygen: 'Oxygen', sans-serif;
    --font-oswald: 'Oswald', sans-serif;
}

/* basic structure */

body {
    font-family: var(--font-oxygen), Arial, sans-serif;
    margin: 30px 0 0 0;
    background: linear-gradient(var(--primary-gradient-start), var(--primary-gradient-end)) no-repeat;
    min-width: 100vw;
    min-height: 100vh;
    overflow-x: hidden;
}

.linux-penguin {
    position: absolute;
    right: 12%;
    top: 15%;
    max-width: 500px;
    width: 30%;  
    height: auto;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

#options-container, #results-container {
    width: 100%; 
    max-width: 600px;
    padding: 20px;
    margin: 0 auto;
    background-color: var(--white-color);
    border: 2px solid var(--dark-color);
    box-shadow: 10px 10px 0px 0px var(--dark-color);
    z-index: 1;
}

#options-container {
    max-height: fit-content;
}

#results-container {
    max-height: 741.719px;
    position: relative;
    overflow: auto;
}

.upload-section, .options-section, #results-section {
    margin-bottom: 20px;
}

h1 {
    font-family: var(--font-oswald);
    font-weight: 700;
    font-size: 50px;
    color: var(--dark-color);
    text-align: center;
    margin: 10px;
}

h2 {
    color: var(--dark-color);
}

hr {
    height: 1px;
    background-color: var(--dark-color);
}

/* buttons */

.options-buttons, button[id^="responseButton-"] {
    background-color: var(--button-bg-color);
    border: none;
    padding: 10px 15px;
    margin-top: 10px;
    font-size: 15px;
    font-family: var(--font-oswald);
    font-weight: 700;
    cursor: pointer;
    border: 2px solid var(--dark-color); 
}

button:hover {
    box-shadow: 4px 4px 0px 0px var(--dark-color);
    transition: all .25s linear 0s;
}

button:disabled {
    pointer-events: none;
}

.disabled-button {
    background-color: var(--light-gray-color);
    color: var(--dark-gray-color);
    border: 2px solid var(--medium-gray-color);
    cursor: not-allowed;
}

/* inputs */

input[type="file"], select, input[type="number"] {
    width: 100%;
    padding: 8px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 1px solid var(--dark-color);
    cursor: pointer;
}

input[type="file"]::file-selector-button {
    font-family: var(--font-oswald);
    font-weight: 700;
    text-transform: uppercase;
    background-color: var(--light-gray-color);
    border: none;
    padding: 8px;
    cursor: pointer;
}

input[type="file"]::file-selector-button:hover {
    background-color: var(--medium-gray-color);
    transition: all .25s linear 0s;
}

input[type="checkbox"] {
    -webkit-appearance: none;
    width: 15px;
    height: 15px;
    background-color: var(--button-bg-color);
    position: relative;
    top: 5px;
}

input[type="checkbox"]:checked {
    background-image: url(./img/checked.png);
}

label {
    display: block;
    margin-top: 10px;
    margin-bottom: 5px;
}

/* draw results and timers */

#results-list {
    font-family: var(--font-oswald);
    font-weight: 700;
    font-size: 30px;
    color: var(--dark-color);
    padding: 0;
    list-style-type: none;
}

#results-list li {
    display: flex;
    justify-content: space-between;
    background-color: var(--light-gray-color);
    margin-bottom: 10px;
    padding: 10px;
    padding-left: 20px;
}

div[id^="progress-container-"] {
    position: relative;
    width: 100px;
    height: 100px;
    margin: 20px;
}

.response-timer {
    position: absolute;
    top: 45px;
    right: 50px;
}

#time-out-message {
    font-family: var(--font-oswald);
    font-weight: 700;
    font-size: 30px;
    color: var(--dark-color);
    display: block;
    text-align: center;
    margin-top: 30px;
}

#guaranteed-list li {
    font-family: var(--font-oswald);
    font-weight: 700;
    font-size: 30px;
    list-style-type: square;
    color: var(--dark-color);
    margin-bottom: 10px;
    padding: 0;
}

/* footer */

#footer {
    background: var(--white-color);
    height: 130px;
    margin-top: 95px;
    position: relative;
}

#footer::before {
    content: '';
    position: absolute;
    background-image: url('/static/img/footer-bg.png');
    background-size: cover;
    background-repeat: no-repeat;
    height: 22px;
    top: -22px;
    left: 0;
    width: 100%;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.dev-message {
    color: var(--dark-color);
    font-family: var(--font-oxygen);
    padding: 10px 0 20px 25px;
}

.icons {
    width: 50px;
    height: 50px;
}

.linux-tips-logo {
    height: 50px;
    width: auto;
}

.dev-links {
    padding-left: 70px;
}

.linux-links {
    padding-right: 70px;
}

.dev-links a, .linux-links a {
    margin-right: 20px;
    text-decoration: none;
}

/* visibility */

.hidden {
    visibility: hidden;
 }
 
.hide-error {
    display: none;
}
 
#error-message {
    font-size: 12px;
    font-family: var(--font-oxygen);
    color: var(--error-color);
    margin-bottom: 0px;
}