<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sorteador Strigus</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Raleway:400,300,600,800,900" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="/static/styles.css">
    <link rel="stylesheet" href="/static/counter.css"> 
</head>
<body>
    <div class="container">
        <div id="options-container">
            <h1>Sorteador Strigus</h1>
            <div class="upload-section">
                <h2>Carregar Arquivo</h2>
                    <form id="uploadForm">
                        <input type="file" name="file" id="fileInput">
                        <button type="submit" class="options-button">CARREGAR</button>
                    </form>
            </div>

            <div class="options-section">
                <h2>Opções</h2>
                <label for="columnSelect">Selecione a coluna:</label>
                <select id="columnSelect"></select>

                <label for="quantityInput">Quantas pessoas serão sorteadas:</label>
                <input type="number" id="quantityInput" min="1" value="1">

                <label>
                    <input type="checkbox" id="withEmotion"> Com emoção
                </label>

                <label>
                    <input type="checkbox" id="liveMode"> Modo Live
                </label>
                <div id="liveOptions" class="hidden">
                    <label for="responseTime">Insira quantos minutos o sorteado terá para se manifestar:</label>
                    <input type="number" id="responseTime" min="1" value="1">
                </div>

                <button id="drawButton" class="options-button">SORTEAR</button>
            </div>
        </div>
        
        <div id="results-container" class="hidden">
            <div id="resultsSection" class="hidden" >
                <h2>Resultado do Sorteio</h2>
                <span id="time-out-message" class="hidden">ACABOU O TEMPO! 😔</span>
                <div id="progress-container"></div>
                <div id="countdown" class="hidden"></div>
                <ul id="resultsList"></ul>
            </div>
            
            <div id="guaranteedSection" class="hidden">
                <hr>
                <h2>Já garantiram o prêmio:</h2>
                <ul id="guaranteedList"></ul>
            </div>

            <!-- Contador para "Com emoção" -->
            <div id="wrap" class="hidden">  <!-- Escondido até que seja ativado -->
                <div class="c"></div>
                <div class="o"></div>
                <div class="u"></div>
                <div class="n"></div>
                <div class="t"></div>
            </div>

            <svg>
                <defs>
                    <filter id="filter">
                        <feGaussianBlur in="SourceGraphic" stdDeviation="18" result="blur" />
                        <feColorMatrix in="blur" mode="matrix" values="1 0 0 0 0  0 1 0 0 0  0 0 1 0 0  0 0 0 28 -10" result="filter" />
                        <feComposite in="SourceGraphic" in2="filter" operator="atop" />
                    </filter>
                </defs>
            </svg>
        </div>

        <img src="/static/img/linux-penguin.png" alt="" class="penguin-img">
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/progressbar.js"></script>
    <script src="/static/scripts.js"></script>
</body>

<footer id="footer">
    <span class="footer-top"></span>
    <p class="devText">Feito com <span class="heart">❤</span> por Mayara Coelho</p>
    <div class="footerDisplay">
        <div class="devlinks">
            <a href="https://github.com/mayara-coelho" target="_blank">
                <img src="static/icons/github.png" class="icon">
            </a>
            <a href="https://www.linkedin.com/in/mayarabcoelho/" target="_blank">
                <img src="static/icons/linkedin.png" class="icon">
            </a>
        </div>
        
        <div class="linuxLinks">
            <a href="https://linuxtips.io/" target="_blank">
                <img src="static/icons/linuxtips-logo.png" class="logo">
            </a>
            <a href="https://www.youtube.com/@LinuxTips" target="_blank">
                <img src="static/icons/youtube.png" class="icon">
            </a>
            <a href="https://www.twitch.tv/linuxtips/" target="_blank">
                <img src="static/icons/twitch.png" class="icon">
            </a>
        </div>
    </div>
</footer>
</html>
